*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    background-image: linear-gradient(rgba(2, 2, 2, 0.7),rgba(2, 2, 2, 0.7)) , url(netflix-bg.png); 
    width: 100vw;
    height: 100vh;
}
#logo{
    height: 120px;
    padding-left:12% ;
}
.button{
    float: right;
    padding-top: 3%;
    padding-right: 3%;
}
#signin{
    height: 30px;
    width: 80px;
    font: bold;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
#register{
    margin-left: 12px;
    height: 30px;
    width: 80px;
    font: bold;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.Main section>h1{
    color: white;
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
    /* font: bold; */
}
.para{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font: bold;
}
.para2{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    font: bold;
}